<div class="row">
  <div class="col-sm-12">
    <h1>About Me</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <p>I'm Joe</p>
  </div>

  <div class="col-sm-12 col-md-6">
    <p>
      I'm working through <%= link_to "One Month Rails", "https://onemonth.com/courses/one-month-rails/" %> to learn Ruby on Rails.
    </p>
  </div>
</div>
