<div class="jumbotron">
  <h1>Welcome to Pinteresting!</h1>
  <h2>(a blatent ripoff of Pinterest for learning Rails)</h2>

  <p>
    <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
  </p>
</div>
